@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


.topo {
    width: 100%;
    color: white;
    background-color: #303452;
    height: 60px;
    font-size: medium;
    font-family: 'Noto Sans', sans-serif;
    position: fixed;
    text-decoration: none;
}



.esquerda {

    float: left;
    width: 8%;
    margin: 20px 0px 0px 90px;

}

.direita {
    float: right;
    width: 20%;
    margin: 20px 0px 0px 90px;
    word-spacing: 2px;
}

.cont1 {
    width: 100%;
    background-color: #696e94;
    color: white;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 100px;
    padding: 150px;
    height: 720px;
}

.imghtml {
    margin-right: 40px;
}

.sub1 {
    font-size: x-large;
    margin: 75px 0px 0px 0px;
}

.img {
    width: 100%;
    text-align: center;
    margin: 40px 0px 0px 0px;

}

.img1 {
    padding-right: 30px;

}




.img2 {
    padding-left: 30px;
}

.cont2 {
    background-color: #4a4e6d;
    padding: 100px;
    height: 660px;
    width: 100%;
}

.txtme {
    width: 55%;
    height: 120px;
    background-color: #323655;
    color: white;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    margin-top: 5%;
    padding-top: 40px;
    margin-right: 0;
    float: left;
    border-top: #323655;

}

.me {
    color: white;
    background-color: #323655;
    font-size: 20px;
    float: left;
    width: 55%;
    height: 240px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    margin-top: 0%;
    word-spacing: 07px;
}

.mefoto {
    text-align: center;
    margin: 102px 0px 0px 65%;
}

.cont3 {
    background-color: #696e94;
    color: white;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    height: 660px;
    width: 100%;
    font-size: 40px;
    padding-top: 2%;
}

.projetos {
    width: 51%;
    height: 400px;
    text-align: center;
    margin-top: 06%;
    margin-left: 25%;
    word-spacing: 70px;
}

.img1 {
    padding: 0%;
    transition: transform .4s ease-in;
}

.img1:hover {
    transform: scale(1.1);
}

.img2 {
    padding: 0%;
    transition: transform .4s ease-in;
}

.img2:hover {
    transform: scale(1.1);
}

.img3 {
    padding: 0%;
    transition: transform .4s ease-in;
}

.img3:hover {
    transform: scale(1.1);
}

.img4 {
    padding: 0%;
    transition: transform .4s ease-in;
}

.img4:hover {
    transform: scale(1.1);
}

.img5 {
    padding: 0%;
    transition: transform .4s ease-in;
}

.img5:hover {
    transform: scale(1.1);
}

.img6 {
    padding: 0%;
    transition: transform .4s ease-in;
}

.img6:hover {
    transform: scale(1.1);
}

.cont4 {
    background-color: #303452;
    height: 15px;
    width: 100%;
}